.base{
  box-sizing: border-box;
  flex: 1 1 260px;
  max-width: 100%;
  max-width: calc(100% - 20px);
}

.column{
  margin: 0 10px;
}

.grid{
  position: relative;
  padding: 0 10px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}