.base {
  display: inline-block;
  font-size: small;
  font-weight: bold;
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.noOutline {
  outline: 0;
}